$heading: (
	colors: (
		primary: global-settings(colors, primary),
		black: global-settings(colors, black),
	),
	sizes: (
		mobile: (
			default: (
				font-size: 20px,
				line-height: 1,
			),
			big: (
				font-size: 32px,
				line-height: 1,
			),
		),
		tablet: (
			default: (
				font-size: 30px,
				line-height: 1,
			),
			big: (
				font-size: 50px,
				line-height: 1,
			),
		),
	)
);

.heading {
	@extend %heading-reset;
	font-weight: bold;
	color: map-get-deep($heading, colors, primary);

	&__color {
		@include modifiers-deep($heading, colors, color);
	}

	&__size {
		@include responsive-modifiers($heading, sizes);
	}

	&__align {
		@include text-align-modifiers;
	}
}
