$drawer: (
	width: 250px,
	shadow: rgba(global-settings(colors, black), 0.2),
	colors: (
		background: global-settings(colors, white),
	),
	padding: global-settings(gutters, default),
	z-index: map-get-strict($zindex, drawer),
);

.drawer {
	$menu: &;
	position: fixed;
	top: auto;
	height: 100%;
	z-index: map-get-strict($drawer, z-index);
	margin: auto;
	padding: map-get-strict($drawer, padding);
	display: block;
	background: map-get-deep($drawer, colors, background);
	width: map-get-strict($drawer, width);
	transition: transform 0.3s ease-out, opacity 0.3s ease-out;
	overflow-x: hidden;
	box-shadow: 0 0 3px map-get-strict($drawer, shadow);

	&__position--left {
		left: 0;
		transform: translate3d(-100%, 0, 0);
	}

	&__position--right {
		right: 0;
		transform: translate3d(100%, 0, 0);
	}

	&__position--top {
		width: 100%;
		transform: translate3d(0, -100%, 0);
	}

	&__position--behind {
		width: 100%;
		transform: translate3d(0, 0, 0);
		opacity: 0;
	}
}

body.menu-is-open {
	overflow: hidden;

	.drawer {
		transform: translate3d(0, 0, 0);
		opacity: 1;
	}
}
