{
  "extends": "@infinumjs",

  "env": {

    # You can change environment depending on the project you are working on
    "browser": true,
    "node": false,
    "commonjs": true,
    "es6": true,
    "jquery": true
  }
}
