wp-admin
wp-includes
wp-content/index.php
wp-content/plugins/index.php
wp-content/themes/index.php
/license.txt
/readme.html
/wp-activate.php
/index.php
/wp-blog-header.php
/wp-comments-post.php
/wp-config-sample.php
/wp-cron.php
/wp-links-opml.php
/wp-load.php
/wp-login.php
/wp-mail.php
/wp-settings.php
/wp-signup.php
/wp-trackback.php
/xmlrpc.php
.htaccess
robots.txt
wp-content/languages
wp-content/uploads
wp-content/themes/theme_name/skin/public
wp-config.php
wp-content/plugins/plugin_name/skin/public
/vendor
/composer.json
/composer.lock
wp-content/ai1wm-backups/

*.DS_Store
