includes:
    - phar://phpstan.phar/conf/bleedingEdge.neon
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
    level: max
    inferPrivatePropertyTypeFromConstructor: true
    paths:
        - %currentWorkingDirectory%/
    excludes_analyse:
        - %currentWorkingDirectory%/vendor/
    autoload_files:
        - %currentWorkingDirectory%/tests/bootstrap.php
    ignoreErrors:
        # Uses func_get_args()
        - '#^Function apply_filters invoked with [34567] parameters, 2 required\.$#'
        - '#^Function add_theme_support invoked with [2345] parameters, 1 required\.$#'
