//Some stuff here is out of BEM because it is used inside WP as helpers or modifiers

$content-media-style-img-spacing: 30px;

%content-media-full {
  width: 126%;
  margin: 0 -13%;
  height: auto;
}

/* stylelint-disable selector-no-type */
//If container has padding and media has to go out side of container
.content-container-media-style {
  .iframe {
    padding-bottom: 71%;
  }

  img {
    &.alignnone,
    &.aligncenter {
      &.size-large,
      &.size-full {
        @extend %content-media-full;
        max-width: inherit;
        display: block;
      }
    }
  }

  .gallery--bg-color {
    @extend %content-media-full;
    padding-left: 13%;
    padding-right: 13%;
  }
}

//Default media style
.content-media-style {
  .iframe {
    @extend %content-media-full;
  }

  img {
    max-width: 100%;
    height: auto;

    &.aligncenter {
      display: block;
      margin: 0 auto;
    }

    &.alignleft {
      clear: left;
      float: left;
      margin-right: $content-media-style-img-spacing;
    }

    &.alignright {
      clear: right;
      float: right;
      margin-left: $content-media-style-img-spacing;
    }
  }
}