//Some stuff here is out of BEM because it is used inside WP as helpers or modifiers
// Text sizes are refines via mixins as utility helpers

$links-map: (
  default: (
    color: $base-dark-color,
    hover: $base-primary-color
  )
);

.link {
  @include link-color;
}

a { // stylelint-disable-line selector-no-type
  @extend %link-transition;
  text-decoration: none;
  color: map-deep-get($links-map, default, color);

  &:hover {
    color: map-deep-get($links-map, default, hover);
  }
}

p { // stylelint-disable-line selector-no-type
  @include map-text-size(default);
  line-height: 1.8;
}