//Base
$base-font-family: 'Open Sans';

//Colors
$base-text-color: $base-dark-color;
$base-bg-color: $base-white-color;

//Container
$base-content-padding: 15px;
$base-content-full-width: 1170px;
$base-content-width: $base-content-full-width + ($base-content-padding*2);

//Header Main
$header-height: 70px;

//Typography
$typography-map: (
  huge:           44px,
  big:            36px,
  larger:         28px,
  large:          24px,
  default:        20px,
  medium:         18px,
  small:          16px,
  smaller:        14px,
  smallest:       13px,
  tiny:           10px
);

$weight-map: (
  normal: 400,
  semi-bold: 600,
  bold: 700,
  extra: 800
);

//Section
$section-spacing: 50px;
$section-spacing-tablet-map: (
  default:    105px,
  medium:     80px,
  small:      40px,
  no-spacing: 0
);

//WP admin bar
$wpAdminBar-sm: 782px;