// Container normal.
@mixin site-container($max-width: $base-content-width) {
  @extend %site-padding;
  max-width: $max-width;
  margin: 0 auto;
}

// Container no padding.
@mixin container($max-width: $base-content-width) {
  max-width: $max-width;
  margin: 0 auto;
}
