//Box sizing
@mixin box-sizing($box-model) {
  box-sizing: $box-model;
}

// Stretch mixing for positions
@mixin stretch($top: 0, $right: 0, $bottom: 0, $left: 0, $position: absolute) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

//Background color items from map
@mixin bg-colors($map: $color-map) {
  @each $key, $value in $map {
    &--#{$key} {
      background-color: $value;
    }
  }
}
