$btn: (
	colors: (
		primary: (
			normal: (
				background-color: global-settings(colors, primary),
				color: global-settings(colors, white),
			),
			hover: (
				background-color: global-settings(colors, black),
			),
		),
		black: (
			normal: (
				background-color: global-settings(colors, black),
				color: global-settings(colors, white),
			),
			hover: (
				background-color: global-settings(colors, primary),
			),
		),
	),
	sizes: (
		mobile: (
			default: (
				font-size: 16px,
				line-height: 1.4,
				height: 56px,
			),
			big: (
				font-size: 18px,
				line-height: 1.4,
				height: 80px,
			),
		),
		tablet: (
			default: (
				font-size: 18px,
				line-height: 1.4,
				height: 70px,
			),
			big: (
				font-size: 20px,
				line-height: 1.4,
				height: 100px,
			)
		)
	)
);

.btn {
	@extend %button-reset;
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	padding: 12px 50px;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
	border-radius: 50px;
	transition: {
		property: background-color, color, border-color;
		timing-function: ease-in;
		duration: 0.3s;
	}

	@include link(map-get-strict($btn, colors), primary);

	&:disabled {
		cursor: not-allowed;
	}

	&__size-width {
		&--block {
			display: flex;
			width: 100%;
		}
	}

	&__color {
		@include link-modifiers($btn, colors);
	}

	&__size {
		@include responsive-modifiers($btn, sizes);
	}

	&__wrap {
		display: flex;
	}

	&__align {
		@include flex-horizontal-align-modifiers;
	}
}
