$admin-env-prod-color: #790D0D;
$admin-env-stag-color: #0D3D79;

.env {
  &--production {
    #wpadminbar { // stylelint-disable-line selector-max-specificity, selector-max-id    
      background-color: $admin-env-prod-color;
    }
  }

  &--staging {
    #wpadminbar { // stylelint-disable-line selector-max-specificity, selector-max-id    
      background-color: $admin-env-stag-color;
    }
  }
}
