$paragraph: (
	colors: (
		primary: global-settings(colors, primary),
		black: global-settings(colors, black),
	),
	link-color: map-get-strict($link, colors),
	sizes: (
		mobile: (
			default: (
				font-size: 18px,
				line-height: 1.56,
			),
			small: (
				font-size: 14px,
				line-height: 1,
			),
		),
		large: (
			default: (
				font-size: 22px,
			),
			small: (
				font-size: 18px,
			),
		),
	),
);

.paragraph {
	@extend %paragraph-reset;
	color: map-get-deep($paragraph, colors, primary);

	a {
		@include link(map-get-strict($paragraph, link-color), primary);
		transition: {
			property: color;
			timing-function: ease-in;
			duration: 0.3s;
		}
	}

	&__color {
		@include modifiers-deep($paragraph, colors, color);
	}

	&__size {
		@include responsive-modifiers($paragraph, sizes);
	}

	&__align {
		@include text-align-modifiers;
	}
}
