$link: (
	colors: (
		primary: (
			normal: (
				color: global-settings(colors, primary),
			),
			hover: (
				color: global-settings(colors, black),
			),
		),
		black: (
			normal: (
				color: global-settings(colors, black),
			),
			hover: (
				color: global-settings(colors, primary),
			),
		),
	),
	sizes: (
		mobile: (
			default: (
				font-size: 18px,
				line-height: 1.56,
			),
			small: (
				font-size: 14px,
				line-height: 1,
			),
		),
		large: (
			default: (
				font-size: 22px,
			),
			small: (
				font-size: 18px,
			),
		),
	),
);

.link {
	text-decoration: none;
	display: block;
	cursor: pointer;
	transition: {
		property: color;
		timing-function: ease-in;
		duration: 0.3s;
	}

	@include link(map-get-strict($link, colors), primary);

	&:disabled {
		cursor: not-allowed;
	}

	&__color {
		@include link-modifiers($link, colors);
	}

	&__size {
		@include responsive-modifiers($link, sizes);
	}

	&__wrap {
		display: flex;
	}

	&__align {
		@include flex-horizontal-align-modifiers;
	}
}
