.image {
	max-width: 100%;
	width: auto;
	height: auto;
	display: block;

	&--bg {
		@extend %bg-image;
		height: 100%;
		width: 100%;
		padding-bottom: 56%;
	}

	&__wrap {
		display: flex;
	}

	&__align {
		@include flex-horizontal-align-modifiers;
	}
}
