//Style for contact form 7 plugin

.wpcf7 {
  &-form-control-wrap {
    display: block;
  }

  br { /* stylelint-disable-line selector-no-type */
    display: none;
  }

  // &-not-valid-tip {
  // }

  &-display-none {
    display: none;
  }

  // &-response-output {
  // }

  // &-validation-errors,
  // &-mail-sent-ng {
  // }

  &-mail-sent-ok {
    // Importand because of CF7 inline css
    display: none !important; /* stylelint-disable-line declaration-no-important */
  }

  .ajax-loader {
    display: none;

    &.is-active {
      display: inline-block;
    }
  }

  &-form-success {
    display: none;
  }
}

.screen-reader-response {
  display: none;
}