$input-border-color: $base-silver-color;
$input-text-color: $base-dark-color;
$input-tap-highlight-color: rgba($base-black-color, 0);

.input,
.select,
.textarea {
  @extend %input-reset;

  @include text-size(biggest);
  font-family: $base-font-family;
  border: 1px solid $input-border-color;
  display: flex;
  padding: 10px 20px;
  width: 100%;
  font-weight: 300;
  color: $input-text-color;
  border-radius: 0;
  -webkit-tap-highlight-color: $input-tap-highlight-color;
  line-height: normal;

  @include input-sizes;

  &:focus {
    @extend %input-focus-shadow;
    outline: none;
  }

  &--disable-user-select {
    user-select: none;
  }
}


.textarea {
  min-height: 200px;
}

input::-ms-clear {
  display: none;
}
