/**
 * This is the main entry point for Block Editor blocks styles used for the `WordPress frontend screen`.
 * File names must follow naming convention to be able to run dynamically.
 *
 * `src/blocks/custom/block_name/block_name-editor.css`.
 *
 * Usage: `WordPress block frontend`.
 *
 */

/* stylelint-disable-next-line at-rule-no-unknown */
@reference '../../../../tailwind.css';

html {
	scroll-behavior: smooth;
}
